header {
    background-color: $cream-background-color;
    opacity: 90%;
    width: 100%;
    top: 0;

    h1 {
        text-transform: uppercase;
        text-align: center;
        background-color: $cream-opacity;
        border-bottom: 10px solid $red-details;
        padding-top: .3125rem;
        @include standarText (1.5rem, 500, $green-letter)
    }

    .logoPag {
        display: none;
    }

    .bigScreenmenu {
        display: none;
    }

    .movil {
        #btn_menu {
            display: none;
        }

        .btn_menu {
            display: flex;
            justify-content: center;
            width: 100%;

            .bi {
                color: $green-letter;
                font-size: 36px;
            }
        }

        #btn_menu:checked~.container_flex {
            display: block;



        }

        .container_flex {
            display: none;

            nav {


                ul {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    text-decoration: none;
                    text-decoration-color: $cream-opacity;
                    align-items: center;
                    gap: .4375rem;

                    li {
                        text-align: center;
                        list-style: none;
                        text-decoration: solid;

                        a {
                            text-decoration: none;
                            text-shadow: 0.5px 0.5px rgb(58, 57, 57);
                            font-style: normal;
                            text-transform: uppercase;
                            @include standarText(1rem,900, $green-letter)
                        }

                        .linkSelected {
                            text-decoration: underline;
                        }

                    }

                }
            }
        }
    }
}

@media (min-width:768px) {


    header {
        display: flex;
        flex-direction: column-reverse;


        h1 {
            font-size: 1.5rem;
            border-top: 3px solid $redOpacity;
            font-weight: 600;
        }

        .movil {
            display: none;
        }


        nav {
            display: flex;
            justify-content: space-between;
            margin-right: 10%;

            .logoPag {
                display: block;
                width: 9rem;

            }

            .bigScreenmenu {
                display: flex;
            }

            ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: row;
                text-decoration: none;
                text-decoration-color: $cream-background-color;
                align-items: center;
                gap: .4375rem;

                li {
                    text-align: center;
                    list-style: none;
                    text-decoration: solid;

                    a {

                        text-decoration: none;

                        text-shadow: 0.5px 0.5px rgb(58, 57, 57);

                        font-style: normal;
                        text-transform: uppercase;
                        @include standarText(1rem,900,$green-letter)
                    }

                    .linkSelected {
                        text-decoration: underline;
                    }

                }

            }
        }


    }
}

@media (min-width:1440px) {
    header {
        
        nav {
            .logoPag {width: 14rem;}

            ul {
                li {
                    a {font-size: 1.5rem;
                }
            }
        }
    }
}}