main {
    width: 100%;
    min-height: 100%;
    @include borderBottom ();


    .back-groundimg {
        background-image: url(../assets/img/logopag.png);
        width: 100%;
        background-size: cover;
        filter: opacity(50%);
        background-color: $cream-opacity;
        height: 69vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width:768px) {

    main {
        .back-groundimg {
            background-image: url(../assets/img/legendBackground.jpeg);
            filter: opacity(70%)
        }

    }
}