.back-discography {
    padding: 3%;
    background-color: $cream-opacity;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        img {
            width: 100%;
            border: 5px solid black;
            @extend %imgShadow
        }

        p {
            text-align: center;
            @include standarText(1.25rem, 700);
        }
    }
}

@media (min-width: 768px) {
    .img-discography {
        width: 100%;
        max-width: 450px;
    }
}
