.section-history {
    background-color: $cream-opacity;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            @include standarText(3rem, 400, $green-letter)
        }

        img {
            border-radius: 16px;
            border: 4px solid black;
            @extend %imgShadow;
            margin: 20px 0px;
            filter: grayscale(100%);
            max-width: 31.25rem;
            width: 100%;
        }

        p {
            text-align: center;
            @include standarText(1.25rem, 600)
        }
    }
}

.sectionYoutube-history {
    background-color: $cream-background-color;
    opacity: 0.9;
    @include borderTop () ;

    .videoyoutube-history {

        text-decoration: none;

        display: flex;
        text-align: center;
        justify-content: center;
        opacity: 1;
        @include standarText (1.25rem, 400, $green-letter)
    }
}