.back-discography {
    padding: 3%;
    background-color: #e7ccabae;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;


    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        img {

            width: 100%;
            box-shadow: 11px 14px 25px 0px rgba(0, 0, 0, 0.24);
            -webkit-box-shadow: 11px 14px 25px 0px rgba(0, 0, 0, 0.24);
            -moz-box-shadow: 11px 14px 25px 0px rgba(0, 0, 0, 0.24);

        }

        p {
            font-family: $fontFamily;
            text-align: center;
            font-weight: 700;
            font-size: 20px;

        }
    }
}

@media (min-width:768px) {
    .img-discography {
        width: 100%;
        max-width: 450px;

    }
}