// variables 
$cream-background-color: #E7CCAB;
$cream-opacity: #e7ccabae;
$red-details: #BF191E;
$redOpacity: #bf191fcd;
$green-letter: #3f675cd3;
$grey-letter-design: #ABB19D;

$fontFamily:  "Lato";
